body{
    background-color: rgb(167, 250, 222);
}
.content{
    height: 300px;
    background-image: url("https://vahuki.github.io/my-photo/image/2024/Thi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn.png");
    display: flex;
    align-items: center;
    justify-content: center;

}
